#container{
    width: 800px;
    margin: 0 auto;
    display: flex;
}

#pathfinder{
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000;
}

#sidebar{
    width: 300px;
    margin: 0 auto;
    border: 1px solid #000;
}

/* Info Bar */
#pathfinder-info{
    padding: 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
}

/* All Nodes */
#pathfinder-nodes{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
}

/* Single Node */
.pathfinder-node{
    width: 12.5%;
    height: 12.5%;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
}

/* Pathfinder Buttons */
#pathfinder-buttons{
    position: relative;
    height: 100%;
}

/* Start Search Button */
#pathfinder-search-button{
    position: absolute;
    width: 100%;
    padding: 15px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
}
#pathfinder-search-button:hover{
    background-color: #999;
}
#pathfinder-search-button:disabled,
#pathfinder-search-button[disabled]{
    background-color: #999;
    color: red;
}

/* Start Reset Button */
#pathfinder-reset-button{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
}
#pathfinder-reset-button:hover{
    background-color: #999;
}
#pathfinder-reset-button:disabled,
#pathfinder-reset-button[disabled]{
    background-color: #999;
    color: red;
}

/* Checkboxes */
#pathfinder-checkboxes{
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 80px;
}

#pathfinder-checkboxes div{
    margin: 0 auto;
}

/* Customize the label (the container) */
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#checkbox-start{
    color: green;
}

#checkbox-end{
    color: red;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* When the checkbox is disabled */

.checkbox input:disabled ~ .checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 11px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Start and End Nodes */
.pathfinder-node.start{
    color: green;
}
.pathfinder-node.end{
    color: red;
}

/* Open and Closed Nodes */
.pathfinder-node.open{
    background-color: green;
}
.pathfinder-node.closed{
    background-color: red;
}

/* Wall Nodes */
.pathfinder-node.wall{
    background-color: black;
}

/* Solution Nodes */
.pathfinder-node.solution{
    background-color: #6666FF;
}

/* Hover Effect */
.pathfinder-node:hover:not(.start):not(.end):not(.wall){
    background-color: #808080;
}

/* Borders */
.pathfinder-node{
    border: 3px solid #404040;
}
.pathfinder-node:nth-child(-n + 8){
    border-top: 6px solid #404040;
}
.pathfinder-node:nth-child(n + 57):nth-child(-n + 64){
    border-bottom: 6px solid #404040;
}
.pathfinder-node:nth-child(8n){
    border-right: 6px solid #404040;
}
.pathfinder-node:nth-child(8n + 1){
    border-left: 6px solid #404040;
}