#pathfinder{
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000;
}

/* Info Bar */
#pathfinder-info{
    padding: 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
}

/* All Nodes */
#pathfinder-nodes{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
}

/* Single Node */
.pathfinder-node{
    width: 12.5%;
    height: 12.5%;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    -moz-user-select: none;
}

/* Start Search Button */
#pathfinder-search-button{
    width: 100%;
    padding: 15px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    cursor: pointer;
}
#pathfinder-search-button:hover{
    background-color: #999;
}
#pathfinder-search-button:disabled,
#pathfinder-search-button[disabled]{
    background-color: #999;
    color: red;
}

/* Start and End Nodes */
.pathfinder-node.start{
    color: green;
}
.pathfinder-node.end{
    color: red;
}

/* Open and Closed Nodes */
.pathfinder-node.open{
    background-color: green;
}
.pathfinder-node.closed{
    background-color: red;
}

/* Wall Nodes */
.pathfinder-node.wall{
    background-color: black;
}

/* Solution Nodes */
.pathfinder-node.solution{
    background-color: #6666FF;
}

/* Hover Effect */
.pathfinder-node:hover:not(.start):not(.end):not(.wall){
    background-color: #808080;
}

/* Borders */
.pathfinder-node{
    border: 3px solid #404040;
}
.pathfinder-node:nth-child(-n + 8){
    border-top: 6px solid #404040;
}
.pathfinder-node:nth-child(n + 57):nth-child(-n + 64){
    border-bottom: 6px solid #404040;
}
.pathfinder-node:nth-child(8n){
    border-right: 6px solid #404040;
}
.pathfinder-node:nth-child(8n + 1){
    border-left: 6px solid #404040;
}